In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import funciones as fs

importamos las librerias con las que trabajaremos durante este proyecto.

procedomos a generar los df de los dos datasets correspondientes al registro de interacciones de los clientes.

In [33]:
df_pt1 = pd.read_csv("df_final_web_data_pt_1.csv")
df_pt1

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [34]:
df_pt2 = pd.read_csv("df_final_web_data_pt_2.csv")
df_pt2

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

Procedemos a unirlos para poder empezar a trabajar en la limpieza de datos.

In [35]:
df_webdata = pd.concat([df_pt1, df_pt2], axis=0, ignore_index = True)
df_webdata

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

UNA VEZ QUE UNIMOS LOS DOS DF PROCEDEMOS A ANALIZAR LA INFORMACIÓN GENERAL DE LOS DATOS.

In [36]:
fs.informe(df_webdata)

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  object
dtypes: int64(1), object(4)
memory usage: 28.8+ MB
None
Descripción estadística:
          client_id
count  7.554050e+05
mean   5.013632e+06
std    2.879152e+06
min    1.690000e+02
25%    2.519882e+06
50%    5.033441e+06
75%    7.496063e+06
max    9.999875e+06
Valores nulos:
client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64
Tipos de datos:
client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object
Primeras 5 filas:
   client_id            visitor_id                      visit_id process_step  \
0    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
1    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
2    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
3    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
4    9988021  580560515_7732621733  781255054_21935453173_531117       step_3

             date_time
0  2017-04-17 15:27:07
1  2017-04-17 15:26:51
2  2017-04-17 15:19:22
3  2017-04-17 15:19:13
4  2017-04-17 15:18:04
Últimas 5 filas:
        client_id             visitor_id                     visit_id  \
755400    9668240   388766751_9038881013  922267647_3096648104_968866
755401    9668240   388766751_9038881013  922267647_3096648104_968866
755402    9668240   388766751_9038881013  922267647_3096648104_968866
755403    9668240   388766751_9038881013  922267647_3096648104_968866
755404     674799  947159805_81558194550  86152093_47511127657_716022

       process_step            date_time
755400        start  2017-05-24 18:46:10
755401        start  2017-05-24 18:45:29
755402       step_1  2017-05-24 18:44:51
755403        start  2017-05-24 18:44:34
755404        start  2017-06-03 12:17:09
Forma del DataFrame:
(755405, 5)
columnas
Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')
numericos
Index(['client_id'], dtype='object')

In [37]:
fs.datos(df_webdata)

datos nulos
client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64
datos totales
client_id       755405
visitor_id      755405
visit_id        755405
process_step    755405
date_time       755405
dtype: int64
porcentaje de nulos
client_id       0.0
visitor_id      0.0
visit_id        0.0
process_step    0.0
date_time       0.0
dtype: float64
datos duplicados
10764
True

TENIENDO EN CUENTA QUE NO HAY VALORES NULOS PROCEDEREMOS A AVANZAR EN EL ANALISIS DIVIDIENDO LA COLUMNA DATE_TIME PARA QUE LUEGO SEA MAS SENCILLO DE ANALIZAR

In [38]:
df_webdata['date_time'] = pd.to_datetime(df_webdata['date_time'])

In [39]:
df_webdata.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [40]:
df_webdata.describe(include="object")

                  visitor_id                      visit_id process_step
count                 755405                        755405       755405
unique                130236                        158095            5
top     722943003_3441581446  875138661_34710212496_881092        start
freq                     104                           104       243945

In [41]:
df_webdata["process_step"].value_counts()

process_step
start      243945
step_1     163193
step_2     133062
step_3     112242
confirm    102963
Name: count, dtype: int64

In [42]:
df_webdata["date_time"].value_counts()

date_time
2017-05-02 10:07:41    24
2017-05-02 10:53:01    24
2017-05-02 10:08:31    24
2017-05-02 10:36:02    16
2017-05-02 10:46:41    16
                       ..
2017-06-15 19:52:09     1
2017-06-15 19:50:37     1
2017-06-15 19:50:05     1
2017-06-15 19:50:00     1
2017-06-15 19:44:05     1
Name: count, Length: 629363, dtype: int64

In [43]:
client_process = df_webdata["client_id"].value_counts()
client_process

client_id
5574879    111
2274658     90
2128341     84
5951379     81
1595223     81
          ...
1200258      1
4532140      1
1418419      1
1740430      1
1279022      1
Name: count, Length: 120157, dtype: int64

In [44]:
top10_client = client_process.head(10)
top10_client

client_id
5574879    111
2274658     90
2128341     84
5951379     81
1595223     81
1952790     80
9800867     75
7733877     72
465007      72
3545814     72
Name: count, dtype: int64

In [ ]:
ACA IRA UN GRAFICO DE LOS CLIENTES

ORDENAMOS EL DF POR CLIENT_ID Y DATE_TIME PARA AVANZAR EN LOS ANALISIS.

In [47]:
df_webdata = df_webdata.sort_values(by=['client_id', 'date_time'])
df_webdata.head()

,client_id,visitor_id,visit_id,process_step,date_time
285515,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36
285514,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45
285513,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31
285512,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05
285511,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09