In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import funciones as fs

In [2]:
df_finaldemo = pd.read_csv("df_final_demo.csv")
df_finaldemo

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [3]:
print(df_finaldemo.shape)
print(df_finaldemo.info())
print(df_finaldemo.describe(include='all'))

(70609, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB
None
           client_id  clnt_tenure_yr  clnt_tenure_mnth      clnt_age  gendr  \
count   7.060900e+04    70595.000000      70595.000000  70594.000000  70595
unique           NaN             NaN               NaN           NaN      4
top              NaN             NaN               NaN           NaN      U
freq             NaN             NaN               NaN           NaN  24122
mean    5.004992e+06       12.052950        150.659367     46.442240    NaN
std     2.877278e+06        6.871819         82.089854     15.591273    NaN
min     1.690000e+02        2.000000         33.000000     13.500000    NaN
25%     2.519329e+06        6.000000         82.000000     32.500000    NaN
50%     5.016978e+06       11.000000        136.000000     47.000000    NaN
75%     7.483085e+06       16.000000        192.000000     59.000000    NaN
max     9.999839e+06       62.000000        749.000000     96.000000    NaN

           num_accts           bal  calls_6_mnth  logons_6_mnth
count   70595.000000  7.059500e+04  70595.000000   70595.000000
unique           NaN           NaN           NaN            NaN
top              NaN           NaN           NaN            NaN
freq             NaN           NaN           NaN            NaN
mean        2.255528  1.474452e+05      3.382478       5.566740
std         0.534997  3.015087e+05      2.236580       2.353286
min         1.000000  1.378942e+04      0.000000       1.000000
25%         2.000000  3.734683e+04      1.000000       4.000000
50%         2.000000  6.333290e+04      3.000000       5.000000
75%         2.000000  1.375449e+05      6.000000       7.000000
max         8.000000  1.632004e+07      7.000000       9.000000

In [4]:
df_finaldemo.isna().sum()

client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [5]:
df_finaldemo.nunique()

client_id           70609
clnt_tenure_yr         54
clnt_tenure_mnth      482
clnt_age              165
gendr                   4
num_accts               8
bal                 70328
calls_6_mnth            8
logons_6_mnth           9
dtype: int64

In [ ]:
# Algunos float que deberían ser int.
# Gender tiene 4 valores diferentes. 
# No hay client_id duplicados. 70609 únicos en una tabla de 70609 filas.
# Mínimo de 13.5 de edad. Habrá que limpiar decimales y no contar age<18?
# Algunos nulos (14-15) menos en client_id.

In [ ]:
df_finaldemo['num_accts'] = df_finaldemo['num_accts'].astype("Int64")
df_finaldemo['calls_6_mnth'] = df_finaldemo['calls_6_mnth'].astype("Int64")
df_finaldemo['logons_6_mnth'] = df_finaldemo['logons_6_mnth'].astype("Int64")
df_finaldemo.dtypes

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts             Int64
bal                 float64
calls_6_mnth          Int64
logons_6_mnth         Int64
dtype: object

In [27]:
df_finaldemo['clnt_tenure_yr'] = df_finaldemo['clnt_tenure_yr'].round(0).astype('Int64')
df_finaldemo['clnt_tenure_mnth'] = df_finaldemo['clnt_tenure_mnth'].round(0).astype('Int64')
df_finaldemo['clnt_age'] = df_finaldemo['clnt_age'].round(0).astype('Int64')
df_finaldemo.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_tenure_mtnh
0,836976,6,73,60,U,2,45105.30,6,9,73
1,2304905,7,94,58,U,2,110860.30,6,9,94
2,1439522,5,64,32,U,2,52467.79,6,9,64
3,1562045,16,198,49,M,2,67454.65,3,6,198
4,5126305,12,145,33,F,2,103671.75,0,3,145

In [ ]:
df_finaldemo['gendr'].unique()

array(['U', 'M', 'F', nan, 'X'], dtype=object)

In [17]:
df_finaldemo['gendr'].value_counts(dropna=False)

gendr
U      24122
M      23724
F      22746
NaN       14
X          3
Name: count, dtype: int64

In [20]:
df_finaldemo['gendr'] = (df_finaldemo['gendr'].astype("string").str.strip().str.upper().replace("X", "U").fillna("U"))

In [21]:
df_finaldemo['gendr'].value_counts(dropna=False)

gendr
U    24139
M    23724
F    22746
Name: count, dtype: Int64